

.villefort{
    display: inline;
    height: 20%;
    width: 22%;
    margin-right: 4%;
    position: relative;
    top: 80px;
   
}

.la_rochelle{
    display: inline;
    height: 20%;
    width: 20%;
    margin-right: 4%;
    position: relative;
    top: 80px;
   
}

.Saint-Antheme{
    display: inline;
    height: 20%;
    width: 14%;
    margin-right: 4%;
    position: relative;
    top: 80px;
   
}


